/* Фоновое видео */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Стили для цветных кружков */
.feedback-circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    border-radius: 50%;
}

.green {
    background-color: #38a169; /* Зелёный */
}

.yellow {
    background-color: #ecc94b; /* Жёлтый */
}

.red {
    background-color: #e53e3e; /* Красный */
}

.comments-container {
    position: fixed;
    right: 20px;
    width: 300px;
    max-height: 250px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.comments-box {
    overflow-y: auto;
    max-height: 150px;
    border-top: 1px solid #ccc;
    padding-top: 5px;
}

.comment-input {
    margin-top: auto;
}

.comment-item {
    font-size: 14px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.register-button, .send-button {
    margin-top: 5px;
    width: 100%;
}

/* Комментарии для зарегистрированного пользователя (чуть ниже) */
.comments-registered {
    bottom: 20px;
}

/* Кнопка регистрации для гостя (внизу страницы) */
.register-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.comments-guest {
    bottom: 80px;
}
